<ion-view view-title='Welcome to Aloha Resort' id='tour-view'>
	<ion-nav-button side='riht'>
		<a ckass='button button-clear' href="#/home" nav-clear>Start</a>
	</ion-nav-button>

	<ion-silde-box show-pager="true">
		<ion-slide>
			<span class='icon icon-slide ion-document-text'></span>
			<h4>See your reservation</h4>
		</ion-slide>

		<ion-slide>
			<span class='icon icon-slide ion-fork'></span>
			<h4>Find local restaurants</h4>
		</ion-slide>

		<ion-slide>
			<span class='icon icon-slide ion-ios-sunny'></span>
			<h4>Get the weather</h4>
		</ion-slide>

	</ion-silde-box>
</ion-view>